:root {

  /* font sizes */
  --font-size-title: 3.2rem;
  --font-size-big: 1.8rem;
  --font-size-base: 1.6rem;
  --font-size-sm: 1.4rem;
  --font-size-xs: 1.2rem;

  /* line heights */
  --line-height-title: 160%;
  --line-height-subtitle: 160%;
  --line-height-big: 160%;
  --line-height-base: 160%;
  --line-height-sm: 160%;
  --line-height-xs: 160%;
    
  /* brand colors */
  --primary-red-1: #FD1814;
  --primary-red-2: #bb120f;
  --primary-orange-1: #EC8926;
  --primary-orange-2: #ce7721;
  --primary-purple-1: #AE81FF;
  --primary-purple-2: #815fbe;
  --discord: #7289DA;

  /* personal colors */
  --personal: #AE81FF;

  /* default colors */
  --white: #FFFFFF;
  --black: #000000;
  --gray-a: #1A1A1A;
  --gray-0: #242424;
  --gray-1: #363636;
  --gray-2: #515151;
  --gray-3: #707070;
  --gray-4: #CCCCCC;
  --gray-5: #F1F1F1;
}