@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --text-title: var(--font-size-title);
  --text-big: var(--font-size-big);
  --text-base: var(--font-size-base);
  --text-sm: var(--font-size-sm);
  --text-xs: var(--font-size-xs);
  
  --text-title--line-height: var(--line-height-title);
  --text-big--line-height: var(--line-height-big);
  --text-base--line-height: var(--line-height-base);
  --text-sm--line-height: var(--line-height-sm);
  --text-xs--line-height: var(--line-height-xs);
}